body {
	margin-top: 20px;
	padding-top: 20px;
}

.container {
	float: left;
	margin-left: 10px;
}

#submit {
	margin-left: 10px;
}

.slider {
	width : 400px;
}

#chart, #artistChart {
	float: left;
	clear: both;
    display: inline-block;
    vertical-align: middle;
}

.charts {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

.title {
    font-size: 15px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 50px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
